/bin/
/target/

/show
/jenkinstestfile.txt
/test.pom
dbupgrade/dbchangeslog-DEVELOPMENT.csv
dbupgrade/dbchangeslog-unnamedserver.csv
.scannerwork/
.settings/org.sonarlint.eclipse.core.prefs
report
jacoco.exec
.idea
*.iml
*.log
out
*.stackdump
.ant-targets-build.xml
